<header>
  <h1><a href="/" class="nochange">Project App</a></h1>
  <hr/>
  <nav>
    <ul>
      <li><a href="/about" class="nochange">About</a></li>
      <li><a href="/cart" class="nochange">Shopping Cart</a></li>
      <li><a href="/admin" class="nochange">Admin</a></li>
    </ul>
  </nav>
  <hr/>
</header>
