<header>
  <h1><a href="/" class="nochange">Soda Blog</a></h1>
  <hr/>
  <nav>
    <ul>
      <li><a href="/colas" class="nochange">See All Items</a></li>
      <li><a href="/about" class="nochange">About</a></li>
      <li><a href="/cart" class="nochange">Shopping Cart</a></li>
    </ul>
  </nav>
  <hr/>
</header>
