body{
  font-family: arial;
  background-color: #121212;
  color:#efefef;
}
a{
  color:green;
  text-decoration: none;
}

footer {
  height: 35px;
  color: white;
  background-color: gray;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
#list{
    margin:0 auto;
    text-align: center;
    width: 400px;
}
li{
    list-style-type: none;
}
h1{
  font-size: 35px;
}
nav li{
  display: inline;
  margin:0 auto;
  text-decoration: none;
}
