<form action="/cheeses" method="POST">

  <label for="new_cheese_name">Name</label>
  <input type="text" name="name" placeholder="Cheese Name" id="new_cheese_name">
  <br />

  <label for="new_cheese_country">Country</label>
  <input type="text" name="country" placeholder="Cheese country" id="new_cheese_country">
  <br />

  <label for="new_cheese_milk_type">Milk Type</label>
  <input type="text" name="milk_type" placeholder="Cheese milk type" id="new_cheese_milk_type">
  <br />

  <label for="new_cheese_stank_level">Stank</label>
  <input type="text" name="stank_level" placeholder="Cheese stank level" id="new_cheese_stank_level">
  <br />

  <label for="new_cheese_desc">Desc</label>
  <input type="text" name="desc" placeholder="Cheese desc" id="new_cheese_desce">
  <br />


<label for="new_cheese_image_url">Desc</label>
  <input type="text" name="image_url" placeholder="Cheese URL IMG" id="new_cheese_image_url">

 <br />

  <input type="submit" value="Create Cheese">
</form>
