<form action="/colas" method="POST">

  <label for="new_cola_name">Name</label>
  <input type="text" name="name" placeholder="Cola Name" id="new_cola_name">
  <br />

  <label for="new_cola_country">Country</label>
  <input type="text" name="country" placeholder="Cola country" id="new_cola_country">
  <br />

  <label for="new_cola_sugar_type">Sugar Type</label>
  <input type="text" name="sugar_type" placeholder="Cola sugar type" id="new_cola_sugar_type">
  <br />

  <label for="new_cola_taste_level">Taste Level</label>
  <input type="text" name="taste_level" placeholder="Cola taste level" id="new_cola_taste_level">
  <br />

  <label for="new_cola_desc">Desc</label>
  <input type="text" name="desc" placeholder="Cola desc" id="new_cola_desce">
  <br />


<label for="new_cola_image_url">URL</label>
  <input type="text" name="image_url" placeholder="Cola URL IMG" id="new_cola_image_url">

 <br />

  <input type="submit" value="Create Cola">
</form>
