<div id="welcome">

<% if session[:access_token] %>
  <a href="/logout">Logout</a>
   <a href="/list">Go to List page</a>
<% else %>
  <a href="<%= @url %>">Login with Github</a>
  <h3>Login button is broken...please for now click on see all in nav bar.</h3>
<% end %>

</div>


